.h-wrapper {
  min-height: calc(80% - 5.25rem - 4px);
  height: calc(80% - 5.25rem - 4px);
}
/* .banner-img {
  background-image: url('../images/porsche-911.jpg');
} */
/* input[type=checkbox] {

} */
/* toast */
.toasts-wrapper {
  position: absolute;
  top: 5.5rem;
  right: 20px;
}

.toast {
  border: 2px solid transparent;
  background-color: #fafafa;
  border-radius: 4px;
  max-width: 480px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
  margin-top: 16px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.toast__text {
  padding: 16px 24px;
  line-height: 1.4;
}

.toast__close-btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}
/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes slideIn {
  0%   {transform: translateX(-66%);}
  100% {transform: translateX(0%);}
}

@keyframes slideOut {
  0%   {position: absolute; top: 0; left: 0%;}
  100% {position: absolute; top: 0; left: -25%}
}


.slide-in {
  animation-name: slideIn;
  /* transition-delay: 75ms; */
  animation-duration: 300ms;
  transition-timing-function: ease-out;
}
.slide-out {
  animation-name: slideOut;
  animation-duration: 500ms;
  transition-timing-function: ease-out;
}

@media only screen and (max-width: 1280px) {
  .slide-out {
    animation-name: slideOut;
    animation-duration: 400ms;
    transition-timing-function: ease-out;
  }
  @keyframes slideOut {
    0%   {position: absolute; top: 0; left: 0%;}
    100% {position: absolute; top: 0; left: -40%}
  }
}
@media only screen and (max-width: 640px) {
  .h-wrapper{
    min-height: calc(80% - 6.75rem);
    height: calc(80% - 6.75rem);

  }
  .slide-out {
    animation-name: slideOut;
    animation-duration: 300ms;
    transition-timing-function: ease-out;
  }
  @keyframes slideOut {
    0%   {position: absolute; top: 0; left: 0%;}
    100% {position: absolute; top: 0; left: -66%}
  }
  #menu {
    position: absolute;
    top: 5px;
    left:0
  }
}